
.title {
    text-align: center;
    font-weight: bold;
    font-size: 38px;

}


.container {
    display: flex;
    background-color: aquamarine;
    min-width: 200px;
    min-height: 400px;
    column-gap: 52px;
    
    
}

.container > div{
    background-color: chartreuse;
}

img {
    width: 200px;  
    height: 200px;
}

.text {
    order: 2;
    text-align: center;

}
